@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

 

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
}


/* input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #313672 inset;
  -webkit-text-fill-color: white;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #313672 inset;
  -webkit-text-fill-color: white;
}

input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px #313672 inset;
  -webkit-text-fill-color: white;
} */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #313672 inset !important;
  -webkit-text-fill-color: white !important;
  box-shadow: 0 0 0 1000px #313672 inset !important;
  text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}

::placeholder {
  color: #9ca3af;  
}

.input-placeholder::placeholder {
  color: #84b1ff;  
  font-weight: 500;
  font-family: 'Arial', sans-serif;
} 

.bg1{
  background-image: "../../iamges/wingoimg/bgWalletdepo.png";
}